body{
  font-family: 'Mukta', sans-serif;
}
.weatherbox{
  border: 2px solid;
  margin:auto;
  max-width: 500px;
}
div{
  display: block;
}
form{
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 18px;
}
h4{
  display: block;
  margin: 20 px;
  font-size: 40px;
}
span{
display: block;
margin: 20px;
font-size: 20px;
font-weight: bold;
}
footer{
  display: block;
  margin: 0 auto;
  text-align: center;

}