body{
  font-family: 'Mukta', sans-serif;
}
h3{
  display: block;
  padding: 25px;
  border-radius: 20px;
  margin: 0 auto;
}
form{
  display: block;
  padding: 15px;
  font-size: 18px;
}
h4{
  display: block;
  margin: 20 px;
  font-size: 40px;
}
span{
display: block;
margin: 20px;
font-size: 20px;
font-weight: bold;
}