body {
  font-family: "Mukta", sans-serif;
}
.contained-in {
  background-image: url("img/zach-reiner-unsplash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}}
div {
  display: block;
}
form {
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 18px;
}
h4 {
  display: block;
  margin: 20 px;
  font-size: 40px;
  color: white;
  text-align: center;
}
span {
  display: block;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}
footer {
  display: block;
  margin: 0 auto;
  text-align: center;
}
